- var title = "Things"
label= title
view
  label hej
  label hopp
  view
    label korv
tableview#users
  view start
  - each user, name in users
    - if (user.isA == "ferret")
      view(class='user-' + name) #{name} is just a ferret
    - else
      view(class='user-' + name) #{name} #{user.email}
  view end
  